
<div align="center">
  <a >
    <img src="images/impleo_logo.png" alt="Logo" >
  </a>
</div>

# LiveStreamer

Live STANAG 4609 re-streamer utility.

More [info](https://www.impleotv.com/content/livestreamer/help/index.html).

## System Requirements

OS: Windows 10 64 bit / Linux x64.

## Installation

**LiveStreamer** can be downloaded as a **zip** / tar.gz file.  


## Download link

|          | Version             | Download link                                                           | 
|:---------|:-------------------:|:------------------------------------------------------------------------|
| **LiveStreamer Windows x64** |  {{version}} | [liveStreamer.zip](https://github.com/impleotv/live-streamer-release/releases/latest/download/liveStreamer.zip) | 
| **LiveStreamer Linux x64**   |  {{version}} | [liveStreamerLinux.zip](https://github.com/impleotv/live-streamer-release/releases/latest/download/liveStreamerLinux.zip) | 


*Released on {{date}}*

## License

No license is needed for application evaluation - it will work in demo mode (with some restrictions). 

**LiveStreamer** is a node locked software, so you have to get a license (after purchasing the SW) in order to lift demo restrictions. Please install the application and fill an [online form](https://docs.google.com/forms/d/e/1FAIpQLSd_XW6bDsFce1G1cpds4gMQNlwNax0CvkWzcMbscxZ5rLaIbA/viewform), providing the ***Node Info*** string (IMPORTANT!!!) for the target machine.  

Applying license. Use one of two options:

- passing license info as the arguments (with --licenseFile and --licenseKey)
- copying license file (.lic) and a key (.txt) file into current working directory


